body {
    position: absolute;
    width: 100%;
	height: 100dvh;
    margin: 0;
    font-family: 'Fira Code', monospace;
	display: flex;
    flex-direction: column;
    border-radius: 0 !important;
}

.buhlometr {
    height: 47px;
    border: 0.5px solid #000;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-image: url(i/header-background.svg);
    object-fit: cover;

}

.buhlometr-logo {
    width: 178px;
    height: auto;
    margin: 10px;
}
@media (max-width: 500px) {
    .buhlometr-logo {
        width: 132px;
    }
}

.calculator-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    height: calc(100dvh - 48px);

}

.container {
    width: 50%;
    overflow: hidden;
    position: relative;
}
@media (max-width: 960px) {
    .container {
        width: 100%;
    }
}

.left-line {
    width: 0.5px;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}
@media (max-width: 960px) {
    .left-line {
        display: none;
    }
}

.right-line {
    width: 0.5px;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
}
@media (max-width: 960px) {
    .right-line {
        display: none;
    }
}

.first-string {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
}
@media (max-width: 960px) {
    .first-string {
        flex-direction: column;
    }
}

#other-drinks {
    height: calc(100dvh - 144px);
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
@media (max-width: 960px) {
    #other-drinks {
        height: calc(100dvh - 192px);
        margin-top: 96px;
    }
}

.new-drink {
    display: flex;
    flex-direction: row;
    width: 100%;
}
@media (max-width: 500px) {
    .new-drink {
        flex-wrap: wrap;
    }
}

.number-and-drink {
    display: flex;
    flex-direction: row;
    width: 50%;
}
@media (max-width: 500px) {
    .number-and-drink {
        width: 100%;
    }
}

#other-drinks-line {
    width: 100%;
    height: 0.5px;
    background-color: #000;
}

.result {
    width: 100%;
    padding: 14.5px;
    border: 0.5px solid #000;
    font-size: 14px;
    font-family: Fira Code;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
	align-items: center;
    gap: 8px;
}

.results-line {
    width: 100%;
    height: 0.5px;
    background-color: #000;
}

.button {
    display: flex;
    height: 48px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    border: 0;
    text-align: center;
    font-family: Fira Code;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.2s ease-out;
}

.button:hover {
    color: rgba(255, 255, 255, 0.8);
    background: rgba(16, 16, 16, 1);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.button:focus {
    outline: none; 
}

.button:hover .button-icon {
    opacity: 0.8;
    transition: all 0.2s ease-out;
}

.button-icon {
    opacity: 1;
    transition: all 0.2s ease-out;
    width: 16px;
    height: 16px;
}

.button-link {
    width: 25%;
}
@media (max-width: 960px) {
    .button-link {
        width: 50%;
    }
}

.button-add {
    width: 50%;
    height: 49px !important;
}
@media (max-width: 960px) {
    .button-add {
        width: 100%;
    }
}

.button-result {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1000;
}

.button-change {
    display: none;
    z-index: 1000;
}
@media (max-width: 960px) {
    .button-change {
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}

.input-style {
    font-size: 14px;
    padding: 14.25px;
    font-family: Fira Code;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0.5px solid #000;
    border-radius: 0 !important;
}

#weight {
    width: 50%;
    border-bottom: 1px solid #000;
}
@media (max-width: 960px) {
    #weight {
        width: 100%;
    }
}

.drink-number {
    width: 47px;
    height: 48px;
    display: flex;
	align-items: center;
	justify-content: center;
    border: 0.5px solid #000;
}

.drink-amount {
    width: calc(100% - 48px);
}

.alcohol-level  {
    width: calc(50% - 29px);
}
@media (max-width: 500px) {
    .alcohol-level {
        width: 100%;
    }
}

#alcohol-level2 {
    width: 100%;
}

.hide-result {
    display: none;
}
@media (max-width: 960px) {
    .hide-container {
        display: none;
    }
}

.error {
    background-color: rgba(255, 0, 0, 0.10);
}

.focus-outline:focus { 
    outline: none; 
    background-color: #F2F2F2;
}

.result-title {
    font-weight: 500 !important;
    background-color: #E2E2E2;
}

.important-number {
    font-weight: 500 !important;
}